# LaTeX auxiliary files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt

# Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf
*.run.xml

# Build tool auxiliary files
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

# Generated documents
*.dvi
*.ps
*.pdf
*.1
doc/*.png

# Bundle
.bundle
vendor/*

# Temporaly
tmp/*
llmk-*.zip

# local
.vimrc
.ruby-version
